@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* 🎨 Couleurs */
  --color-white: #ffffff;
  --color-primary: rgb(149 133 255);
  --color-secondary: #6644FF;
  --color-accent: #FF99DD;
  --color-accent-shiny: rgb(254 104 201);
  --color-dark: #111827;
  --color-grey: #1F2937;

  /* 🖋️ Fonts */
  --font-athletics: "Athletics";
  --font-beVietnam: "BeVietnam";

  /* 🔠 Font size */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;
  --font-size-3xl: 2.5rem;
  --font-size-4xl: 3rem;

  /* 📏 Spacing */
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-4: 1rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-14: 3.5rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-22: 5.625rem;
  --spacing-24: 6rem;

  /* 🧱 Layout */

  --container-8xl: 1440px;
  --container-2xl: 1400px;
  --container-padding: 2rem;

  /* 🧤 Shadows */
  --shadow-google: 8px 8px 0px 0 rgba(218, 219, 228);
}

* {
  scroll-behavior: smooth;
  @apply antialiased;
}

b,
strong {
  @apply font-bold;
}

::selection {
  background-color: var(--selection-bg-color, rgb(149 133 255));
  color: white;
}

/**? ======================
* ?   BARRE DE SCROLL
* ?  ====================== **/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color, #111827);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color, #6644FF);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-color, rgb(149 133 255));
}

p {
  @apply font-beVietnam;
}